<div class="container">
    <div class="row">
        <div class="col-6">
                    <form [formGroup]="registerForm"(ngSubmit)="onSubmit(registerForm.value)">
                            <div class="form-group">
                            <label>First Name</label>
                            <input type="text"formControlName="firstname"class="form-control"[ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"/>
                            <div *ngIf="submitted && f.firstname.errors"class="invalid-feedback">
                            <div *ngIf="f.firstname.errors.required">First Name is required</div>
                            </div>
                            </div>
                            <div class="form-group">
                            <label>Last Name</label>
                            <input type="text"formControlName="lastname"class="form-control"[ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"/>
                            <div *ngIf="submitted && f.lastname.errors"class="invalid-feedback">
                            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                            </div>
                            </div>
                <ng-multiselect-dropdown formControlName="drop"
                [placeholder]="'custom placeholder'"
                [data]="dropdownList"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
                <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)"
                    siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Drop</th>
        </tr>
        <tr *ngFor="let d of result2">
            <td>{{d.firstname}}</td>
            <td>{{d.lastname}}</td>
            <td>{{d.drop[0].itemtext}}</td>
            <td><button (click)="edit(d)">Edit</button></td>
        </tr>
    </table>
</div>


